@keyframes bounce {
    0%, 45% {transform: translateY(0);}
    20% {transform: translateY(-15px);}
    30% {transform: translateY(-7px);}
}

@keyframes slideInFromRight {
    0%, 50% {
        right: -2rem;
        opacity: 0;
    }
    100% {
        transform: 1.8rem;
        opacity: 1;
    }
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes pulsate {
    0% {
        text-shadow:
                0 0 2px #FFF,
                0 0 4px #FFF,
                0 0 6px #FFF,
                0 0 15px $color-steel-blue,
                0 0 23px $color-steel-blue,
                0 0 36px $color-steel-blue,
                0 0 42px $color-steel-blue,
                0 0 67px $color-steel-blue;
    }

    100% {
        text-shadow:
                0 0 5px #FFF,
                0 0 9px #FFF,
                0 0 18px #FFF,
                0 0 36px $color-steel-blue,
                0 0 49px $color-steel-blue,
                0 0 65px $color-steel-blue,
                0 0 89px $color-steel-blue,
                0 0 140px $color-steel-blue;
    }
}

@keyframes pan-image {
    0% {
        background-position: 36% 42%;
        background-size: 150%;
    }

    20% {
        background-position: 30% 35%;
        background-size: 150%;
    }

    20.0001% { /* -- View 2 -- */
        background-position: 60% 85%;
        background-size: 250%;
    }

    40% {
        background-position: 49% 81%;
        background-size: 250%;
    }

    40.0001% { /* -- View 3 -- */
        background-position: 80% 42%;
        background-size: 200%;
    }

    60% {
        background-position: 84% 33%;
        background-size: 200%;
    }

    60.0001% { /* -- View 4 -- */
        background-position: 0% 0%;
        background-size: 200%;
    }

    80% {
        background-position: 15% 4%;
        background-size: 200%;
    }

    80.0001% { /* -- View 5 -- */
        background-position: 80% 10%;
        background-size: 200%;
    }

    100% {
        background-position: 72% 14%;
        background-size: 200%;
    }
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    /*60% {*/
    /*    transform: rotate(180deg);*/
    /*}*/

    80% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    80% {
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes disappear {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes colorFromGray {
    0% {
        filter: grayscale(100%);
    }

    100% {
        filter: grayscale(0);
    }
}
