.side-navigation {
    position: fixed;
    top: 50%;
    right: 1.8rem;
    width: fit-content;
    height: fit-content;
    z-index: 1000;
    transform: translateY(-50%);
    border-radius: 1rem;
    animation: slideInFromRight 3s ease;

    @media screen and (min-width: map-get($media-queries, popup-max)) {
        right: 4rem;
    }

    @media screen and (max-width: map-get($media-queries, popup-max)) {
        background-color: rgba(0, 0, 0, 0.8);
        padding: .5rem 0;
    }

    .side-navigation-list {
        @include flexbox(center, flex-end, column, null);
        position: relative;

        .navigation-item {
            @include flexbox(center, center, row, null);
            gap: 1rem;
            width: 20px;
            transition: background-color 0.3s;
            position: relative;

            a,
            span {
                font-family: $headingFont;
                color: white;
                font-size: 16px;
                font-weight: 400;
                text-transform: uppercase;
                text-decoration: none;
                transition: background-color 0.3s;
                @include flexbox(center, center, row, null);
                width: 0;
                white-space: nowrap;
                visibility: hidden;
                position: absolute;
                text-shadow: 2px 2px 0 rgba($color-steel-blue-rgb, 0.1);

                user-select: none;
                -moz-user-select: none;
                -khtml-user-select: none;
                -webkit-user-select: none;
                -o-user-select: none;

                @media screen and (max-width: map-get($media-queries, popup-max)) {
                    background-color: rgba(0, 0, 0, 0.8);
                };
            }

            .dot {
                scale: 1.4;
                cursor: pointer;
                color: white;
            }

            //.dot {
            //    width: 10px;
            //    height: 10px;
            //    border-radius: 50%;
            //    background-color: var(--accent-500);
            //    position: absolute;
            //}
        }

        .navigation-item.top,
        .navigation-item.bottom {
            color: white;
        }

        .navigation-item.top {
            margin-bottom: 1rem;
        }

        .navigation-item.bottom {
            margin-top: 1rem;
        }

        .navigation.active {
            font-weight: bold;
            color: $color-steel-blue; /* Highlight color */
        }

        .divider-dot {
            @include flexbox(center, center, row, null);
            position: relative;
            width: -webkit-fill-available;
            width: -moz-available;
            height: 5px;

            .dot {
                @include flexbox(center, center, row, null);
                scale: 1;
                border-radius: 50%;
                color: white;
                opacity: 0.5;
            }
        }

        .navigation-item:hover {
            a,
            span {
                font-family: 'MerriweatherSans', serif;
                width: unset;
                visibility: visible;
                //background-color: white;
                //color: $color-dark-navy;
                padding: .5rem 1rem;
                border-radius: 1rem 0 0 1rem ;
                right: 0;
                transition: all 0.2s;
                z-index: 1000;
                padding-right: 2rem;
                cursor: pointer;
                z-index: -1;
            }

            .dot {
                //color: $color-dark-navy;
            }
        }

        .navigation-item:has(.highlighted) {
            .dot {
                color: $color-steel-blue;
            }
        }

        .navigation-item:first-child {
            a,
            span {
                border-radius: 1rem 1rem 0 1rem;
            }
        }

        .navigation-item:last-child {
            a,
            span {
                border-radius: 1rem 0 1rem 1rem;
            }
        }

        //    /* Change the next adjacent sibling */
        //    .navigation-item:hover + .divider-dot {
        //        display: flex;
        //    }
        //
        //    /* Change the second next adjacent sibling */
        //    .navigation-item:hover + .divider-dot + .divider-dot {
        //        display: flex;
        //    }
    }

    .side-navigation-list:not(:has(.divider-dot))
    {
        background-color: rgba(0, 0, 0, 0.1);
        border-radius: 1rem;
    }
}

.neon-effect {
    margin: 0;
    font-size: 100px;
    font-weight: normal;
    border-radius: 0.4em;
    padding: 0.4em;
    text-shadow:
            0 0 2px #FFF,
            0 0 4px #FFF,
            0 0 6px #FFF,
            0 0 15px $color-steel-blue,
            0 0 23px $color-steel-blue,
            0 0 36px $color-steel-blue,
            0 0 42px $color-steel-blue,
            0 0 67px $color-steel-blue;
    //box-shadow:
    //        0 0 3px #FFF,
    //        0 0 3px #FFF,
    //        0 0 33px $color-steel-blue,
    //        0 0 36px $color-steel-blue,
    //        0 0 45px $color-steel-blue,
    //        inset 0 0 21px $color-steel-blue;
    animation: pulsate 1.5s infinite alternate;
}

.flicker-fast {
    animation: flicker 1s linear infinite;
}

.flicker-slower {
    animation: flicker 5s linear infinite;
}

.flicker-slow {
    animation: flicker 3s linear infinite;
}

@keyframes flicker {
    100%, 70%, 0%, 22%, 64%, 63%, 19.999%, 62.999% {
        opacity: .99;
    }
    63%, 64%, 20%, 69.999%, 65%, 21.999% {
        opacity: 0.4;
    }
}

.neon {
    position: absolute;
    font-size: 130px;
    font-weight: 400;
    letter-spacing: 8px;
    font-family: 'Monoton', cursive;
    color: $color-steel-blue;
    text-shadow: 1px 0 4px $color-neon-pink-faded, 2px 0 4px $color-neon-pink-faded, 3px 0 4px $color-neon-pink-faded, 2px 0 3px $color-neon-pink, 2px 3px 15px $color-neon-pink, 2px 0 15px, 5px 0 125px, 20px 0 200px $color-neon-pink, 40px 0 200px $color-neon-pink;
}




