.section {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#hero,
#about,
#services,
#gallery,
#contact {
    position: relative;

    .container {
        @media screen and (min-width: map-get($media-queries, popup-max)) {
            @include absCenter;
        }
    }
}

#hero {
    background-image: url('/images/Image_009.jpg');
}

#hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba($color-midnight-blue-rgb, 0.5), rgba($color-dark-navy-rgb, 0.5));
    z-index: 1;
}

#about {
    background-image: url('/images/Image_014.jpg');
}

#about::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba($color-midnight-blue-rgb, 0.5), rgba($color-dark-navy-rgb, 0.9));
    z-index: 1;
}

#services {
    background-image: url('/images/Image_001.jpg');
}

#services::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba($color-midnight-blue-rgb, 0.5), rgba($color-dark-navy-rgb, 0.9));
    z-index: 1;
}

#gallery {
    background-image: url('/images/Image_017.jpg');
}

#gallery::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba($color-midnight-blue-rgb, 0.5), rgba($color-dark-navy-rgb, 0.9));
    z-index: 1;
}

#contact {
    background-image: url('/images/Image_016.jpg');
}

#contact::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba($color-midnight-blue-rgb, 0.5), rgba($color-dark-navy-rgb, 0.9));
    z-index: 1;
}

#hero,
#about,
#services,
#gallery,
#contact {
    color:  whitesmoke;

    * {
        position: relative;
        z-index: 2;
    }
}
